.aboutContent{
    padding: 15px;
}
.aboutContent h1{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}
.aboutContent p{
    padding: 15px 0;
    letter-spacing: 1px;
    color: #444;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
    text-align: justify;
}